<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LastMinutes</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css" />

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }


        .goldhover:hover {
            color: gold; /* Change the color to red on hover */
        }
    </style>

</head>
<body class="vh-100 d-flex align-items-start align-items-md-center justify-content-center bg-dark">

    <div class="container py-5">
        <main role="main" class="text-white">
            <div class="d-flex flex-wrap justify-content-center">

                @if (ViewData["MainPage"] != "true")
                {
                    <div class="col-12 col-lg-3 my-auto">
                        <h1><a asp-action="Index" asp-controller="LastMinutes" class="text-decoration-none link-light goldhover">LastMinutes</a></h1>
                        <h3>@Html.Raw("@")@Model.Username</h3>
                        <br />
                        <h6>You have listened to</h6>
                        <h1 class="my-1 mt-0 pt-0">@Model.TotalMinutes minutes</h1>

                        <p>This was over a period of <b>all time</b>.</p>
                    </div>
                }

                <div class="col d-flex justify-content-center flex-wrap">
                    @RenderBody()
                </div>

            </div>
            
        </main>
    </div>

    <footer class="border-top border-dark fixed-bottom footer text-muted bg-dark text-center">
        <div class="container">
            &copy; 2024 - LastMinutes by <a href="" class="link-secondary text-decoration-none fw-bold goldhover">mrdawgza</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
