@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LastMinutes.Models.ViewModels.FaqViewModel
@{
    ViewData["Title"] = "FAQ";
}
<div class="row d-flex justify-content-center px-5">
    <div class="col-12 col-lg-5 text-white ">
        <h3>Frequently Asked Questions</h3>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-5 p-2 px-5 text-white" style="max-height: 650px; overflow-y: scroll;  overflow-x: hidden">




            <p class="my-4">

                <div class="row my-4">
                    <h5>How long will it take?</h5>
                    <span>
                        That entirely depends on how many scrobbles you have :)<br /><br />
                        This app currently caches every single track which it can find a runtime for, which means that the more this app is used, the less time it will take. <br /> <br> Current Track Cache: <b>@Model.TotalCachedTracks</b> tracks.
                    </span>
                </div>

                <div class="row my-5">
                    <h5>Where do we get the track data from?</h5>
                    <span>
                        Currently, we use Deezer as our main source followed by Spotify and MusicBrainz. Whichever scrobbles Deezer can not find, will then be searched for on Spotify and then MusicBrainz.
                    </span>
                </div>

                <div class="row my-5">
                    <h5>How accurate is the final result?</h5>
                    <span>
                        I haven't yet done any testing, but I would estimate it to be around 95% accurate at-least.
                    </span>
                </div>

                <div class="row my-5">
                    <h5>What are my <i>bad scrobbles</i>?</h5>
                    <span>
                        Any scrobbles which we cannot find a runtime for and that have a play count of more than 5 will be flagged as a <i>bad scrobble</i>.<br /><br />
                        Sometimes scrobbles may not match results found in our data sources. Eventually, if much demand is met, it will be possible to manually add bad scrobbles to the track cache.
                    </span>
                </div>

                <div class="row my-5">
                    <h5>Why can it take so long?</h5>
                    <span>
                        This application only processes one username at a time. This is because of API rate limiting from Spotify and MusicBrainz. To be safe and prevent complete API cooldowns, this application only makes around one request per second.<br /><br />
                        If this web app is met with much demand, then perhaps in the future I can implement synchronous queue processing. This is just a personal/hobby project of mine and I cannot afford to spend full time on it.
                    </span>
            </div>

            <div class="row my-5">
                <h5>How can I contact you?</h5>
                <span>
                    You can send me an email to this address:<br />
                    <a href="mailto:contact@lektech.co.za" class="link-light text-decoration-none goldhover fw-bold">contact@lektech.co.za</a>
                </span>
            </div>

            </p>




    </div>
</div>
