@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LastMinutes.Models.ViewModels.FaqViewModel
@{
    ViewData["Title"] = "FAQ";
    ViewData["MetaTagDescription"] = "Read our FAQ page if you have any questions or concerns about how LastMinutes works.";
    ViewData["MetaTagUrl"] = "faq";
}

<div class="col-12 col-md-6 text-center">
    <h1><a asp-action="Index" asp-controller="LastMinutes" class="text-decoration-none link-light" onmouseover="this.style.color='gold'" onmouseout="this.style.color='white'">LastMinutes</a></h1>
</div>

<div class="col-12 d-flex justify-content-center">
    <div class="col col-lg-8 text-center">
        <h3>Frequently Asked Questions</h3>
    </div>
</div>

<div class="col col-md-11 col-lg-10 d-flex px-0 mx-2 justify-content-center mx-auto my-auto">
    <div class="p-2 px-1 text-white">

        <div class="row my-4">
            <h5>What does this website do?</h5>
            <span>
                TL;DR: This website will tell you how many minutes you have listened to over the past 31 days using data provided by your Last.FM account.
            </span>
        </div>

        <div class="row my-4">
            <h5>How does it work?</h5>
            <span>
                Most tracks on Last.FM have a length/duration property. This app simply fetches that data and calculates how many minutes you've listened to in a specified timeframe.
                However, some tracks do not have runtime data on Last.FM, those tracks will then be searched for on Spotify and Deezer- that is why processing is done server side.
                In order to speed up the process, tracks searched for on Spotify and Deezer will be cached with their runtimes.<br /> <br> 
                Current Track Cache: <b>@Model.TotalCachedTracks</b> tracks.
            </span>
        </div>

        <div class="row my-5">
            <h5>How accurate is the final result?</h5>
            <span>
                I haven't yet done any testing, but I would estimate it to be around 95% accurate at-least. All track data provided by Last.FM is 100% accurate.
            </span>
        </div>

        <div class="row my-5">
            <h5>What are my <i>bad scrobbles</i>?</h5>
            <span>
                Any tracks that the website cannot find a runtime for and that have a play count of more than 3 will be flagged as a <i>bad scrobble</i>.<br /><br />
                Sometimes scrobbles may not match results found in our data sources. Also, API requests to Spotify and Deezer will fail if some tracks have stupidly long names (I'm looking at you Surfjan Stevens!). Eventually, if much demand is met, it will be possible to manually add bad scrobbles to the track cache.

            </span>
        </div>

        <div class="row my-5">
            <h5>Why can it take so long?</h5>
            <span>
                Unlike many other Last.FM tools, this app works by retrieving data from Spotify and Deezer for the most accurate results- meaning all computing has to be done on the web server instead of your local device.
                Also, this tool only processes one username at a time - this is because of API rate limiting from Spotify and Deezer. To be safe and prevent complete API cooldowns, this application only requests two tracks per second.<br /><br />
                If this web app is met with much demand, then perhaps in the future I can implement synchronous queue processing. This is just a personal/hobby project of mine and I cannot afford to spend full time on it.
            </span>
        </div>

        <div class="row my-5">
            <h5>What about Privacy?</h5>
            <span>
                This tool only has access to data which is already accessible publicly. Your result is stored in a database, the only data being stored is your total listening time, top scrobbles and bad scrobbles. That's all. You can also click "Delete Results" which will permanently delete any data relating to you from this tool, otherwise your results will be automatically removed after 24 hours.
            </span>
        </div>

        <div class="row my-5">
            <h5>How can I contact you?</h5>
            <span>
                You can contact me through Reddit or Last.FM:<br />
                <a href="https://www.reddit.com/user/mrdawgza/" class="link-light goldhover fw-bold">Reddit</a><br />
                <a href="https://www.last.fm/user/mrdawgza" class="link-light goldhover fw-bold">Last.FM</a>

            </span>
        </div>





    </div>
</div>
