@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    bool SignedIn = ViewBag.SignedIn ?? false;
    string Username = ViewBag.Username;

    ViewData["MetaTagDescription"] = "Use LastMinutes to check your total listening time in minutes from your LastFM account!";

}


<div class="col-12 col-md-5 mt-auto mb-0">
    <h1><a asp-action="Index" asp-controller="LastMinutes" class="text-decoration-none link-light" onmouseover="this.style.color='gold'" onmouseout="this.style.color='white'">LastMinutes</a></h1>
</div>

<div class="col col-md-8 d-flex justify-content-center mt-0 mb-auto">


    <div class="col-12 col-lg-6 p-2 text-white">


        <div class="col my-4">

            <h5>Enter your Last.FM Username Below</h5>
            <p>to see how many minutes you've listened to!</p>

            <form asp-action="CheckMinutes" asp-controller="LastMinutes" method="POST">

                @if (string.IsNullOrEmpty(Username) && SignedIn == false)
                {
                    <input class="form-control" type="text" name="username" placeholder="Last.FM Username" required />
                } else
                {
                    <input class="form-control" type="text" name="username" placeholder="Last.FM Username" value="@Username" required />                
                }

                <br />
                <div class="col d-flex flex-wrap justify-content-between">

                    <div class="col col-md-6 my-2">
                        @if (SignedIn)
                        {
                            <select class="form-select form-select-sm" name="Mode" aria-label="Over Time">
                                <option value="1">Over All Time</option>
                                <option value="2">Over The Last Week</option>
                                <option value="3" selected>Over The Last Month</option>
                                <option value="4">Over The Last Year</option>
                                <option value="5">This Week</option>
                                <option value="6">This Month</option>
                                <option value="7">This Year</option>
                            </select>
                        } else
                        {
                            <select class="form-select form-select-sm" name="Mode" aria-label="Over Time" disabled>
                                <option value="1">Over All Time</option>
                                <option value="2">Over The Last Week</option>
                                <option value="3" selected>Over The Last Month</option>
                                <option value="4">Over The Last Year</option>
                                <option value="5">This Week</option>
                                <option value="6">This Month</option>
                                <option value="7">This Year</option>
                            </select>
                        }
                    </div>


                    <div class="col-12 col-md-4 d-grid gap-2 my-2">
                        <button type="submit" class="btn btn-outline-light mb-3">View Results</button>
                    </div>

                </div>



            </form>

        </div>
        


        <p>
            @if (!SignedIn)
            {
                <a asp-action="SignInIndex" asp-controller="LastMinutes" class="fw-bold text-decoration-none link-light goldhover">Sign In <span class="text-muted">(for special privileges)</span></a>
            } else
            {
                <a asp-action="SignOut" asp-controller="LastMinutes" class="fw-bold text-decoration-none link-light goldhover">Sign Out</a>
            }
            <br>
            <a asp-action="Faq" asp-controller="LastMinutes" class="fw-bold text-decoration-none link-light goldhover">Frequently Asked Questions</a>

        </p>

        

    </div>

</div>