@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LastMinutes.Models.ViewModels.PendingViewModel
@{
    ViewData["Title"] = "Processing";
}


<div class="col my-3 d-flex justify-content-center">


    <div class="col-12 col-lg-4 p-2 text-white">


        <h3>Hey, @Model.Username!</h3>
        <p>
            Your minutes are being tallied :)<br /><br />

            Server is <b>@Model.ServerStatus</b><br />
            Please check back in a couple of hours.<br />
            <a asp-action="Faq" asp-controller="LastMinutes" class="fw-bold text-decoration-none link-light" onmouseover="this.style.color='gold'" onmouseout="this.style.color='white'">Read more..</a>

        </p>

        

    </div>

</div>