@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LastMinutes.Models.ViewModels.PendingViewModel
@{
}


<div class="col d-flex my-5 justify-content-center">


    <div class="col-1">

    </div>

    <div class="col-4 p-2 text-white">


        <h2>LastMinutes</h2>

        <h3>Hey, @Model.Username!</h3>
        <p>
            Your minutes are being tallied!<br /><br />

            <b>ETA</b> @Model.Eta.ToString() minutes <br />
            <b>Server is </b> @Model.ServerStatus.
            
        </p>

        

    </div>

</div>