@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LastMinutes.Models.ViewModels.PendingViewModel
@{
    ViewData["Title"] = "Processing";
    ViewData["MetaTagRobots"] = "noindex";

    string[] cuteMessages = new string[]
    {
                "Hiiii Kiara :)",
                "Wow! This is still the best Last.FM account yet :)",
                "Happy Valentines Day, cutie!",
                "Wow, you're still looking gorgeous ;)",
    };

    Random random = new Random();
    int index = random.Next(0, cuteMessages.Length);

}

<div class="col-12 col-md-5 mt-auto mb-0">
    <h1><a asp-action="Index" asp-controller="LastMinutes" class="text-decoration-none link-light" onmouseover="this.style.color='gold'" onmouseout="this.style.color='white'">LastMinutes</a></h1>
</div>

<div class="col col-md-8 d-flex justify-content-center mt-0 mb-auto">


    <div class="col-12 col-lg-6 p-2 text-white">


        <h3>Hey, @Model.Username!</h3>
        <p>
            Your minutes are being tallied.<br /><br />

            @if (Model.Username.ToUpper() == "KIARA_DONUT")
            {
                <h6>@cuteMessages[index]</h6>

                <br />

                <br />
            }


            Server is <b>@Model.ServerStatus</b><br />
            Please check back in a little bit.<br /><br />
            <span class="text-muted">This page will automatically refresh</span><br /><br />
            <a asp-action="Faq" asp-controller="LastMinutes" class="fw-bold text-decoration-none link-light" onmouseover="this.style.color='gold'" onmouseout="this.style.color='white'">Read more..</a>

        </p>

        

    </div>

</div>

@section Scripts{
    <script>
        // Function to reload the page
        function reloadPage() {
            location.reload(); // Reload the page
        }

        // Call the reloadPage function every 15 seconds
        setInterval(reloadPage, 10000); // 15000 milliseconds = 15 seconds
    </script>


}