@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LastMinutes.Models.ViewModels.FaqViewModel
@{
    ViewData["Title"] = "Release Notes"; 
    ViewData["MetaTagDescription"] = "LastMinutes release notes and update change log.";
    ViewData["MetaTagUrl"] = "release-notes";
}

<div class="col-12 col-md-6 text-center">
    <h1><a asp-action="Index" asp-controller="LastMinutes" class="text-decoration-none link-light" onmouseover="this.style.color='gold'" onmouseout="this.style.color='white'">LastMinutes</a></h1>
</div>

<div class="col-12 d-flex justify-content-center">
    <div class="col col-lg-8 text-center">
        <h3>Release Notes</h3>
    </div>
</div>

<div class="col col-md-11 col-lg-10 d-flex px-0 mx-2 justify-content-center mx-auto my-auto">
    <div class="p-2 px-1 text-white">

        <div class="row my-4">
            <h5>Beta11205 - 12/05/2024</h5>
            <p>For some reason, LastMinutes is under extremely high demand (compared to normal), I presume this is because Spotify Wrapped has just released. With about 30 users per hour, LastMinutes was being rate limited by the Spotify API and put into a cooldown of many many hours. When a cooldown like this occurs, the entire queue freezes until the cooldown is over, this is something I may change in the future.</p>
            <span>
                <ul>
                    <li>Disabled Spotify track duration searching due to rate limiting.</li>
                    <li>Slowed down Deezer track duration searching to prevent hitting a rate limit.</li>
                    <li>Improved track cache search performance.</li>
                </ul>
            </span>
        </div>

        <div class="row my-4">
            <h5>Beta11101 11/10/2024</h5>
            <p>LastMinutes stopped working again, however this time I was able to figure out what the issue was. The queue would continuously attempt to process a username which does not exist on Last.FM.</p>
            <span>
                <ul>
                    <li>Added extra properties to the Queue entity to track how many attempts the queue item has had at processing and whether it has failed.</li>
                    <li>Queue items which have failed two times will be removed from the queue.</li>
                    <li>TODO: Add feedback to the user upon username submission to inform them that the user account does not exist.</li>
                </ul>
            </span>
        </div>

        <div class="row my-4">
            <h5>Beta11018-a</h5>
            <p>I noticed that LastMinutes was not working for potentially, quite a while, I'm not exactly sure what caused the issue but it has been resolved.</p>
            <span>
                <ul>
                    <li>Cleared old process queue as it was failing for some reason.</li>
                    <li>Updated database table for track cache to include information about the search, in order to help improve accuracy.</li>
                    <li>LastMinutes should be functioning normally now.</li>
                </ul>
            </span>
        </div>

        <div class="row my-4">
            <h5>Beta10701</h5>
            <span>
                <ul>
                    <li>There is now a leaderboard!</li>
                    <li>Added a new area on the landing page to choose more options, such as submission to the leaderboard.</li>
                </ul>
            </span>
        </div>


        <div class="row my-4">
            <h5>Beta10628</h5>
            <span>
                <ul>
                    <li>The "special accounts" system is now removed. Anybody can view their minutes for any time frame!</li>
                    <li>Total app stats will now be displayed on the home page.</li>
                </ul>
            </span>
        </div>

        <div class="row my-4">
            <h5>Beta10318</h5>
            <span>
                <ul>
                    <li>The queue processor now uses Deezer before Spotify since the API is now back to normal.</li>
                    <li>Results that are over 24 hours old will automatically be deleted.</li>
                    <li>Added life-time tool stats tracking (such as total runs & total minutes tallied)</li>
                </ul>
            </span>
        </div>

        <div class="row my-4">
            <h5>Beta10315c</h5>
            <span>
                <ul>
                    <li>Added backend app status page for monitoring purposes.</li>
                    <li>The cooldown timer has been reduced to one hour.</li>
                </ul>
            </span>
        </div>

        <div class="row my-4">
            <h5>Beta10315</h5>
            <span>
                <ul>
                    <li>Added extra error handling to prevent the application from crashing.</li>
                    <li>Opened extra time frames for public use, such as:
                        <ul>
                            <li>This Week</li>
                            <li>This Month</li>
                            <li>Over The Last Week</li>
                            <li>Over The Last Month</li>
                        </ul>
                    </li>
                    <li>Bad Scrobbles now show the top 100 tracks with no runtime data, regardless of play count.</li>
                    <li>Added release notes page.</li>
                    <li>There is now a 'News' feature on the landing & pending pages to provide information on the status of the app.</li>
                    <li>The cooldown timer has been reduced to six hours.</li>
                    <li>I have changed the queue processing so that Spotify searches for runtimes before Deezer. This will result in a less accurate result as the Deezer grabber is far more accurate than the Spotify one. This is a temporary measure while my connection to the Deezer API is volatile.  I will remove all cached tracks from Spotify from this point onward when the issue is resolved.</li>
                </ul>
            </span>
        </div>

       

        <div class="row my-5">
            <h5>How can I contact you?</h5>
            <span>
                You can contact me through Reddit or Last.FM:<br />
                <a href="https://www.reddit.com/user/mrdawgza/" class="link-light goldhover fw-bold">Reddit</a><br />
                <a href="https://www.last.fm/user/mrdawgza" class="link-light goldhover fw-bold">Last.FM</a>

            </span>
        </div>





    </div>
</div>
