@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Sign In Failed";
    ViewData["MetaTagRobots"] = "noindex";
}

<div class="col-12 col-md-5 mt-auto mb-0">
    <h1><a asp-action="Index" asp-controller="LastMinutes" class="text-decoration-none link-light" onmouseover="this.style.color='gold'" onmouseout="this.style.color='white'">LastMinutes</a></h1>
</div>


<div class="row d-flex justify-content-center mt-0 mb-0">
    <div class="col-12 col-lg-5 text-white ">
        <h3>Failed to sign in</h3>
    </div>
</div>

<div class="row d-flex justify-content-center mb-auto mt-0">
    <div class="col-12 col-lg-8 p-2 px-5 text-white" style="overflow-y: auto;  overflow-x: hidden">
        <p class="">

            <div class="row">
                <h5>You need to have your Last.FM account registered on LastMinutes in order to sign in!</h5>
                <span>
                    <br />

                    At the moment, only a hand full of people have a <i>special account</i> on LastMinutes. These are mostly my friends.
                    <br /><br />
                    But don't worry, you're not missing out on much- 
                    <br />All having a <i>special account</i> lets you do is:
                    
                    <ul>
                        <li>Skip the cooldown between results</li>
                        <li>View your minutes over a more broad time frame (such as this week, or last month, or all time, for example)</li>
                    </ul>

                    <br />See? Not much.

                </span>
                    
            </div>

            Read more in the <a asp-action="Faq" asp-controller="LastMinutes" class="fw-bold text-decoration-none link-light goldhover">FAQ</a>.

        </p>




    </div>
</div>
